.parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-family:Arial, Helvetica, sans-serif;

}

.products{
  height:100% !important;
  width:205vh !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 55vh;
  background-color: rgb(141, 194, 240);

  h3{
    font-size: 4vh;
  }
  
}

.images{
  height:200px;
  border-radius: 15px;
}

.button{
  width: 100px;
}

.price{
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5vh;
  
}
.product{
  
}

select{
  height:35px;
  width: 70px;
  border-radius: 10px;
  margin-bottom: 15vh;
  
}

.order{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end;

}

.product-item {
  margin-top: 10vh;
  border-bottom: 5px solid #ccc; /* Add a 1px solid border at the bottom of each product item */
  padding-bottom: 10px; /* Optional: Add some padding at the bottom of each product item */
  margin-bottom: 20px; /* Optional: Add margin at the bottom of each product item */
}
