.parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgb(0, 0, 0);
  font-family:Arial, Helvetica, sans-serif;

}
.product-list{
 display:flex;
 align-items: center;
 justify-content: center;
  background-color: rgb(175, 175, 175);
  height:20vh;
  padding:4vh;
  width:100%;
}

.products{
  height:100% !important;
  width:205vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    font-size: 4vh;
  }
  
}

.images{
  height:200px;
  border-radius: 15px;
}

.button{
  width: 100px;
}

.price{
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5vh;
  
}
.product{
  
}

select{
  height:35px;
  width: 70px;
  border-radius: 10px;
  margin-bottom: 15vh;
  
}

.order{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-start;

}

.product-item {
  margin-top: 6vh;
  border-bottom: 5px solid #ccc; /* Add a 1px solid border at the bottom of each product item */
  padding-bottom: 10px; /* Optional: Add some padding at the bottom of each product item */
  margin-bottom: 20px; /* Optional: Add margin at the bottom of each product item */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1{
  font-size: 3.2em;
  line-height: 1.1;
}